#header{
	 background-color: #f5f3f6;
	
}

#header #header_nav div ul li{
	height:64px;
	text-align: center;
	line-height: 64px;
	
}
#header #header_nav #header_nav_logo{
	font-family: 'Indie Flower', cursive;
	font-size: 3em;
}
#header #header_nav #header_nav_pc{
	font-family: 'Alata', sans-serif;
	font-size: 1.5em;
}
#header #header_nav #header_nav_pc a:hover{
    transition: all 0.5s;
    font-size: 1.3em;
}
#header #header_nav_logo #header_nav_ul li:hover{
    transition: all 1s;
    transform: rotateZ(-3deg);
}
@media all and (max-width:820px) {
	#header_nav_pc {
		display: none;
	}
	#header #header_nav #header_nav_logo{
	font-size: 2em;
	}
	#header #header_nav #header_nav_logo #logo{
		width:42px;
	}
}
@media all and (min-width:820px) and (max-width:1024px) {
	#header_nav_mob {
		display: none;
	}
	#header #header_nav #header_nav_pc{
	font-size: 1.2em;
	}
	#header #header_nav #header_nav_logo{
	font-size: 2em;
	}
	#header #header_nav #header_nav_logo #logo{
		width:42px;
	}
	
}

@media all and (min-width : 1024px) {
	#header_nav_mob {
		display: none;
	}
}